header {
    background-color: #007bff;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  header nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 0;
  }
  
  li {
    background-color: #007bff;
    border: none;
    box-shadow: none;
    
  }
  
  header nav ul li {
    margin: 0 15px;
  }
  
  header nav ul li a {
    color: #ffffff;
    background-color: #007bff;
    text-decoration: none;
    font-weight: bold;
  }
