* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #d8ddeb;
  color: #333;
}


h1 {
  text-align: center;
  margin-top: 20px;
  color: #000000;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  background-color: #d8ddeb;
  padding: 20px;
  border-radius: 5px;
  box-shadow: none;
}

input, select, button {
  margin: 10px 0;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
  max-width: 400px;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

button {
  margin: 0 5px;
  padding: 5px 10px;
}

@media (max-width: 768px) {
  header nav ul {
    flex-direction: column;
  }

  li {
    flex-direction: column;
    align-items: flex-start;
  }
}
